.square {
  font-size: 48px;
  color: white; /* Set the text color to white */
  background-color: #282c34; /* Set a background color for better contrast */
  border: 1px solid #444;
  height: 100px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}


.square:hover {
  background-color: #3a3f47;
  transform: scale(1.05); 
}

.square:active {
  transform: scale(0.95); 
}