.App {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;

  h1 {
    font-size: 3rem;
  }

  .status {
    margin-top: 20px;
  }
  .reset{
    margin-top: 20px;
  }

}
button {
  padding: 10px;
}
